<%= render :partial => "/shared/topnav" %>
	
	<div class="jumbotron masthead top-20">
		<div class="container">
			<div class="span2"></div>
			<div class="span4">
				<%=image_tag("img_employerpage_01.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
			</div>
			<div class="span4 top-50">
				<h1> Connecting Employers to the Digital Health Ecosystem </h1>
				<br>
				<h4> Through configurable mobile &amp; web corporate wellness experiences that integrate with your benefits and incentive programs</h4>
				<br> 
				<h5 class="cap-text bottom-n5">In Partnership With</h5>
				<%=image_tag("img_logo_TowersWatson.png", :alt =>"Jiff Stay Healthy")  %>
				<br><br>
				<a href="#myAnchor" rel="" id="anchor1" class="anchorLink btn btn-info">Contact Us</a>
			</div>
		</div>
	</div>

	<div class="container top-50">
		<div class="row-fluid">
			<section class="section">
				<h2 class="text-center bottom-10"> Harness innovation </h2>
				<h4 class="text-center">The best apps, best devices, best programs for your employees in one click</h4>
				<div class="clearfix top-50">
					
						<%=image_tag("img_employerpage_02.png", :alt =>"Jiff Stay Healthy", :class => "image-center")  %>
					
				</div>
			</section>

			<section class="section">
				<h2 class="text-center bottom-10"> Give the freedom to choose </h2>
				<h4 class="text-center"> Empower and engage your employees to choose what works for them </h4>
			
		
				<div class="clearfix top-50">
					<%=image_tag("img_employerpage_03.png", :alt =>"Jiff Stay Healthy", :class => "image-center")  %>
				</div>

			</section>

			<section class="section">
				<h2 class="text-center bottom-10"> It's not magic, it's logic </h2>
				<h4 class="text-center"> Real time data lets you test your way, incrementally, into programs that work for your employees </h4>
				<br><br>
				<div class="clearfix top-50">
					<%=image_tag("img_employerpage_04.png", :alt =>"Jiff Stay Healthy", :class => "image-center")  %>
				</div>
			</section>

			<section class="section">
				<h2 class="text-center bottom-10"> Configurable experiences </h2>
				<h4 class="text-center"> Mobile &amp; web experiences that are branded, customized, and engaging for your unique corporate culture </h4>
				<div class="clearfix top-50">
						<br> <br>
						<%=image_tag("img_employerpage_05.png", :alt =>"Jiff Stay Healthy", :class => "image-center")  %>
					
				</div>
			</section>

			<section class="section">
				<h2 class="text-center"><a name="myAnchor" id="myAnchor" style="color:white;cursor:text;">How do I sign up?</a></h2>
				<div class="span3"></div>
				<%= render :partial => "/messages/new" %>
				
			</section>
		</div>
	</div>

