<footer class="footer">
		<div class="container">
			<div class="social-media">
				<li> facebook</li>
				<li> twitter </li>
			</div>
			<div class="clearfix bottom-n10">
				<ul class="footer-links1">
					<li> <%= link_to "About Us", about_static_index_path %> </li>
					<li class="muted">&middot;</li>
					<li> <%= link_to "News & Press", news_static_index_path %> </li>
					<li class="muted">&middot;</li>
					<li> <%= link_to "Team", team_static_index_path %>  </li>
					<li class="muted">&middot;</li>
					<li> <%= link_to "Careers", team_static_index_path %>  </li>
					<li class="muted">&middot;</li>
					<li> <%= link_to "FAQ", faq_static_index_path %>  </li>
				</ul>
			</div>
			<div class="clearfix">
				<ul class="footer-links2">
					<li> Healthcare in a Jiff </li>
					<li class="muted"> &middot; </li>
					<li> &copy;2013 Jiff, Inc </li>
					<li class="muted"> &middot; </li>
					<li> HIPAA Compliant </li>
					<li class="muted"> &middot; </li>
					<li> Made in Palo Alto </li>
				</ul>
			</div>
		</div>
	</footer>
	