<div class="span3">
	<ul class="nav">
		<li> <%= link_to "About Us", about_static_index_path %></li>
		<li class="top-5"> <%= link_to "News & Press", news_static_index_path %> </li>
		<li class="top-5"> <%= link_to "Team", team_static_index_path %> </li>
		<li class="top-5"> <%= link_to "Careers", careers_static_index_path %> </li>
		<li class="top-5"> <%= link_to "FAQ", faq_static_index_path %> </li>
	</ul>
</div>