
<div class="top-navbar top-20">
	<div class="container">
		<%=image_tag("img_Logo_Jiff_large.png", :alt =>"Jiff")  %>
		<h4> A Digital Health Technology Company </h4>
	</div>
</div>
<div class="content">
	<div class="jumbotron masthead top-20">
		<div class="container">
			<div class="span2"></div>
			<div class="span4">
				<%=image_tag("img_home_01.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>

			</div>
			<div class="span4 top-50">
				<h5 class="cap-text bottom-n5">Announcing</h5>
				<h1> Health Outcomes Marketplace </h1>
				<br>
				<h5 class="cap-text bottom-n5">In Partnership With</h5>
				<%=image_tag("img_logo_TowersWatson.png", :alt =>"Jiff Stay Healthy")  %>
				<br><br>
				<%= link_to 'Learn More','www.jiff.com', :class => "btn btn-info" %>
			</div>
			
		</div>
	</div>
	<div class="container top-20">
		<div class="row-fluid">
			<div class="span4">
				<img src="">
				<h3> Employer Solution </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. Pellentesque a velit condimentum justo elementum eleifend. Maecenas a ante vestibulum purus tincidunt egestas nec eget justo. Integer ut magna sed elit tempor imperdiet eget eget arcu. Etiam scelerisque metus id elit varius quis vestibulum mi pretium. Vivamus viverra imperdiet scelerisque. </p>
				<br>
				<p><a href="" class="btn btn-info">Learn More</a></p>
			</div>
			<div class="span4">
				<img src="">
				<h3> Health Plan Solution </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. Pellentesque a velit condimentum justo elementum eleifend. Maecenas a ante vestibulum purus tincidunt egestas nec eget justo. Integer ut magna sed elit tempor imperdiet eget eget arcu. Etiam scelerisque metus id elit varius quis vestibulum mi pretium. Vivamus viverra imperdiet scelerisque.</p>
				<br>
				<p><a href="" class="btn btn-info">Learn More</a></p>
			</div>
			<div class="span4">
				<img src="">
				<h3> Digital Health Partner </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. Pellentesque a velit condimentum justo elementum eleifend. Maecenas a ante vestibulum purus tincidunt egestas nec eget justo. Integer ut magna sed elit tempor imperdiet eget eget arcu. Etiam scelerisque metus id elit varius quis vestibulum mi pretium. Vivamus viverra imperdiet scelerisque. </p>
				<br>
				<p><a href="" class="btn btn-info">Learn More</a></p>
			</div>
		</div>
	</div>
</div>
<div class="news container">
	<div class="row-fluid">
		<div class="span4">
			<%=image_tag("img_press_Forbes.png", :alt =>"Jiff", :class =>"top-20")  %>
		</div>
		<div class="span4">
			<%=image_tag("img_press_VentureBeat.png", :alt =>"Jiff", :class => "top-20")  %>
		</div>
		<div class="span4">
			<%=image_tag("img_press_HIMSS.png", :alt =>"Jiff")  %>
		</div>
	</div>
</div>
