<%= render :partial => "/shared/topnav" %>
<div class="space"></div>
<div class="container about">
	<div class="">
		<div class="span1"></div>
		<div class="span9">
			<h1 class="bottom-10"> A foundation for the future of digital health </h1>
			<%=image_tag("img_about_01.png", :alt =>"Jiff Stay Healthy", :class=> "")  %>

			<p class="top-10"> Jiff’s mission is to provide the platform that will power the future of digital, connected health. At Jiff we have built not only the platform, infrastructure and capabilities companies need to build compelling, clinically valid and consumer friendly digital health experiences, but also the marketplace where those experiences can be easily harnessed by employers, health plans, program providers and consumers to improve health outcomes.</p>
			<p class="top-10"> Jiff’s mission is to empower healthcare organizations and payers to radically reengineer their clinical programs by focusing on the power of combining the best of the consumer web with the best of clinical practice to improve access, lower costs, improve outcomes and connect consumers to their healthcare in ways never possible before. Together with our partners, we will completely transform the healthcare industry. </p>
			
			<br>
			<h1 class="bottom-10"> Our Story </h1>
			<p class="top-10"> James Currier and Stan Chudnovsky, two Internet pioneers that have built some of the most popular social networks and social games in the world, founded Jiff in 2010 to transform the consumer healthcare experience through the application of the same principles they used in their work in social networking and gaming. They recruited top design talent in Himgan Wibisono in 2011. Later that year, they put the last piece of the puzzle in place by teaming up with Derek Newell, and combined his knowledge of digital, connected health with their understanding of social networking and gaming to build the Jiff platform. </p>
			<p class="top-10"> Throughout 2011 and 2012, they built a world class engineering team and launched multiple digital health applications while quietly building the Jiff Platform. Jiff officially unveiled the Jiff Platform in June 2013, as well as an alliance with Towers Watson to provide the Health Outcomes Marketplace, the first publicly announced enterprise application of the Jiff Platform that will blow your mind and change your life. Then we took a breather and got some sleep. Now, we’re probably having a big party to celebrate our launch and the future of digital health. </p>
			<p class="top-10"> <%= link_to "      Join Us      ", "http://jiff.theresumator.com/", :class=>"btn btn-info", :target => "_blank" %></p>
			<br>
			<h1 class="bottom-10"> Team</h1>
			<div class="clearfix row">
				<div class="span2">
					<%=image_tag("DerekNewell.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
				</div>
				<div class="span7">
					<h4> Derek Newell</h4>
					<h5 class="top-3"> CEO | @dereknewell</h5>
					<p class="top-10"> Derek has 20 years experience growing and leading innovative healthcare technology and service companies. Prior to taking the helm at Jiff, and making digital health a reality for everyone, Derek was President and CEO of Robert Bosch Healthcare. While at Bosch, Derek worked with the management team to build Bosch into the world’s largest remote patient monitoring company. Prior to joining Bosch, he was the CEO of Health Hero Networks; a US based remote patient monitoring company, which he sold to Bosch in 2007. Prior to that, Derek was the Chief Marketing Officer of LifeMasters from 2000 to 2006. While at LifeMasters, he launched the first web-based remote patient monitoring system and pioneered the development of LifeMasters “Active Intervention Model,” the first patient centric, co-morbid, disease management platform. Under his leadership, LifeMasters grew from under $10 million to over $150 million in annual revenue. Prior to LifeMasters, Derek worked with Shervin Pishevar at WebOS, a company that launched one of the first web-based operating systems. Derek holds graduate degrees in Business and Public Health from the University of California, Berkeley.  </p>
				</div>
			</div>
			
			<div class="clearfix row top-50">
				
				<div class="span7">
					<h4> Himgan Wibisono </h4>
					<h5 class="top-3"> VP of Design </h5>
					<p class="top-10"> Himgan is the guy that makes Jiff beautiful, intuitive and fun to use. You’re welcome. Before gracing the Jiff team with his presence, Himgan directed design teams and efforts at MyWire, Samsung Electronics Inc.,  Adobe Systems, Inc. and Sony Electronics. Himgan received Bachelor’s and Master’s degrees in Architecture and Design from the College of Architecture and the Institute of Design in Chicago, IL respectively. He holds several patents for UI design. </p>
				</div>

				<div class="span2">
					<%=image_tag("HimganWibisono.png", :alt =>"himgan", :class=> "image-center")  %>
				</div>
			</div>
			
			<div class="clearfix row top-50">
				<div class="span2">
					<%=image_tag("photo_JamesCurrier.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
				</div>
				<div class="span7">
					<h4> James Currier </h4>
					<h5 class="top-3"> Co-Founder &amp; Chairman </h5>
					<p class="top-10"> James has 20 years of experience designing and building online businesses. In addition to sharing his business savvy with the Jiff team, he spends time with the Ooga Labs portfolio as partner, and PayPal as Growth advisor. Most recently, he co-founded IronPearl, an analytics company acquired by PayPal in April 2013. Before that, James co-founded WonderHill, a social gaming company that built the hit online game Dragons of Atlantis and merged with Kabam in 2011.  James also founded and served as CEO of Tickle.com, which he sold to Monster.com for over $100 million in 2004. Prior to Tickle.com, James was an Associate at Battery Ventures from 1994-1997. Earlier, he worked at STAR TV in Hong Kong and GTE New Ventures in Los Angeles, developing digital technology businesses for the entertainment industry. James is a graduate of Phillips Exeter, Princeton and Harvard Business School. He is also a Henry Crown Fellow at the Aspen Institute. </p>
				</div>
			</div>
			
			<div class="clearfix row top-50">
				<div class="span7">
					<h4> Stan Chudnovsky </h4>
					<h5 class="top-3"> Co-Founder </h5>
					<p class="top-10"> Stan is a serial entrepreneur and investor in Silicon Valley and the original Jiff, Inc. co-founder. He’s also the VP of Growth at PayPal and a partner at Ooga Labs. In 2012 he co-founded IronPearl, an analytics company acquired by PayPal in April 2013. In 2008 Stan co-founded WonderHill, a social gaming company. With $50 million in 2011 revenues, WonderHill merged with Kabam. Prior to WonderHill, Stan spent upwards of six years running Tickle Inc., one of the very first social media companies and the largest self-assessment company in the world. Stan began his stint as VP of Engineering and soon after gained responsibilities over Product, Operations and was named CEO in December 2005. By 2004, Tickle.com became the 18th largest site on the Web (Nielsen/NetRating) and sold to Monster Worldwide for over $100 million. Stan hails from Moscow, Russia where he obtained Bachelor’s and Master’s degrees in applied mathematics. Stan also invented and implemented the very first email scraper back in 2002. No big deal. </p>
				</div>

				<div class="span2">
					<%=image_tag("photo_StanChudnovsky.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
				</div>
			</div>
			<br>
			<h4 class="top-50"> Our Awesome Technology &amp; Product Team </h4>
			<div class="clearfix row top-20">

				<div class="clearfix">
					<div class="span1">
						<%=image_tag("AnnaLissaCruz.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("AudreyVu.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("DashDasai.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("DerekSelander.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("DhanushBalachandran.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("FalkoButtler.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("JeffChan.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("JohnSmilanick.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("JustinCopeland.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
				</div>

				<div class="clearfix top-20">
					<div class="span1">
						<%=image_tag("KrisLau.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("LeviStrope.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("MattKirchstein.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("MichaelRayzman.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("MichaelVazquez.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("NathanPearson.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("RyanLons.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
					<div class="span1">
						<%=image_tag("ZoeySetiawan.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
					</div>
				</div>
			</div>

			<br>

			<h1 class="bottom-10 top-50"> Board of directors</h1>
			<div class="clearfix row">
				<div class="span1">
					<%=image_tag("photo_GeorgeRhem.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
				</div>
				<div class="span2">
					<h4> George Rehm </h4>
					<p> Aeris Capital </p>
				</div>

				<div class="span1">
					<%=image_tag("photo_LarryLeisure.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
				</div>
				<div class="span2">
					<h4> Larry Leisure </h4>
					<p> KPCB </p>
				</div>

				<div class="span1">
					<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
				</div>
				<div class="span2">
					<h4> Darren Hite</h4>
					<p> Aberdare Ventures </p>
				</div>
			</div>

<!-- 	<div class="clearfix row top-20">
				<div class="span1">
					<%=image_tag("photo_HimganWibisono.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
				</div>
				<div class="span2">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. </p>
				</div>

				<div class="span1">
					<%=image_tag("photo_HimganWibisono.png", :alt =>"Jiff Stay Healthy", :class=> "image-center")  %>
				</div>
				<div class="span2">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. </p>
				</div>
			</div> -->

		</div>
	</div>
</div>
