<%= render :partial => "/shared/topnav" %>

<div class="jumbotron masthead top-20">
	<div class="container press">
		
			<div class="span1"> </div>
			<div class="span9">
				<div class="clearfix">
					<h1>News </h1>
						<br><br>
						<%=image_tag("img_press_InsuranceNetworkingNews_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Mobile Mania", "http://digital.insurancenetworkingnews.com/insurancenetworkingnews/august_september_2013?pg=19#article_id=326215", :target => "_blank" %> </h4>

						<br><br>
						<%=image_tag("img_press_VentureBeat_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Wellness startups find a channel to better health: Employers", "http://venturebeat.com/2013/07/31/wellness-startups-find-a-channel-to-better-health-employers/", :target => "_blank" %> </h4>
					<br><br>
					
					<%=image_tag("img_press_businessinsurance_s.png", :alt =>"Jiff")  %>
					 	<h4 class="top-5"> <%= link_to "Towers Watson, Jiff team up on digital health management platform", "http://www.businessinsurance.com/article/20130611/NEWS03/130619953?tags=%7C307%7C342%7C335%7C257", :target => "_blank" %> </h4> 

						<br><br>
						<%=image_tag("img_press_health20news_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Jiff and Towers Watson Partner for Corporate Wellness", "http://www.health2con.com/news/2013/06/11/jiff-and-towers-watson-partner-for-corporate-wellness/", :target => "_blank" %> </h4>

					 	<br><br>
						<%=image_tag("img_press_eweek_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Jiff Unveils Health App Development Platform, Wellness Marketplace", "http://www.eweek.com/cloud/jiff-unveils-health-app-development-platform-wellness-marketplace/", :target => "_blank" %> </h4>

						<br><br>
						<%=image_tag("img_press_mobihealthnews_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Jiff reveals first partners for digital health employee marketplace", "http://mobihealthnews.com/27831/jiff-reveals-first-partners-for-digital-health-employee-marketplace/", :target => "_blank" %> </h4>
						<h4 class="top-5"> <%= link_to "Jiff pivots to employee wellness curation", "http://mobihealthnews.com/22927/jiff-pivots-to-employee-wellness-curation/", :target => "_blank" %> </h4>
						<h4 class="top-5"> <%= link_to "Virgin HealthMiles adds Fitbit integration to employee wellness platform", "http://mobihealthnews.com/25380/virgin-healthmiles-adds-fitbit-integration-to-employee-wellness-platform/", :target => "_blank" %> </h4>

						<br><br>
						<%=image_tag("img_press_medcitynews_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Jiff wants to do for employer wellness programs what WordPress did for blogs", "http://medcitynews.com/2013/06/jiff-wants-to-do-for-employer-wellness-what-wordpress-did-for-blogs/", :target => "_blank" %> </h4>

						<br><br>
						<%=image_tag("img_press_HITConsultant_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Jiff Launches Consumer Driven Digital Health Platform for Employers & Healthcare Organizations", "http://www.hitconsultant.net/2013/06/12/jiff-launches-consumer-driven-digital-health-platform/", :target => "_blank" %> </h4>

						<br><br>
						<%=image_tag("img_press_mhealthnews_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Payer-oriented mHealth products focus on patient engagement", "http://www.mhealthnews.com/news/payer-oriented-mhealth-products-focus-patient-engagement?single-page=true", :target => "_blank" %> </h4>

						

			
				</div>
				<br><br><br>
				<div class="clearfix top-50">
					<h1> Press Releases </h1>
					<br><br>
					<h4 class=""> <%= link_to "Jiff Inc. Launches Consumer-Driven Digital Health Platform for Employers and Healthcare Organizations", "/assets/PressReleaseJiffPlatform.pdf", :target => "_blank" %> </h4>
					<h4 class="top-20"> <%= link_to "Towers Watson and Jiff Form Strategic Alliance to Launch Employer Digital HealthSolution", "/assets/PressReleaseTowersWatsonJiffAlliance.pdf", :target => "_blank" %> </h4>
				</div>
				<br> <br><br>
				<div class="clearfix top-50"> 
					<h1> Contributed Articles </h1>
					<br><br>
						<%=image_tag("img_press_PharmaPhorum_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Persona non grata: why pharma must get to the digital health table", "http://www.pharmaphorum.com/articles/persona-non-grata-why-pharma-must-get-to-the-digital-health-table", :target => "_blank" %> </h4>

					<br><br>
					<div class="clearfix">
						<%=image_tag("img_press_VentureBeat_s.png", :alt =>"Jiff")  %>
						<h4 class="top-5"> <%= link_to "Investors, Pay Attention to These Three Health Trends", "http://venturebeat.com/2013/05/14/investors-pay-attention-to-these-three-health-trends/", :target => "_blank" %> </h4>

					</div>
					<div class="clearfix top-50">
						<%=image_tag("img_press_Forbes_s.png", :alt =>"jiff on Forbes")  %>
						<h4><%= link_to "Five Ways Mobile Apps Will Transform Healthcare", "http://www.forbes.com/sites/ciocentral/2012/06/04/5-ways-mobile-apps-will-transform-healthcare/", :target => "_blank" %> </h4>
					</div>
					<div class="clearfix top-30">
						<%=image_tag("img_press_HIMSS_s.png", :alt =>"Jiff Stay Healthy")  %>
						<h4><%= link_to "Four Ways Real Time Data Will Change Healthcare", "http://www.mhimss.org/news/four-ways-real-time-data-will-change-healthcare", :target => "_blank" %></h4>
					</div>

				</div>
				<br><br><br>
				<div class="clearfix top-50"> 
					<h1> Press Contact </h1>
			
					 <h4 class='top-10'><a href="mailto:press@jiff.com" > press@jiff.com </a></h4>
				</div>
			</div>
	
	</div>
</div>
