<%= render :partial => "/shared/topnav" %>
<div class="space"></div>
<div class="container">
	<div class="row">
		<%= render :partial => "/shared/leftnav" %>
		<div class="span9 team">
			<h1> Team </h1>
		
			<div class="clearfix top-10">
				<h2> Founders </h2>
				<div class="row">
					
						<div class="span2">
							<%=image_tag("photo_JamesCurrier.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
						</div>
						<div class="span2">
							<h4> James Currier </h4>
							<p> Chairman &amp; Cofounder</p>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. Pellentesque a velit condimentum justo elementum eleifend. </p>
						</div>
				
						<div class="span2">
							<%=image_tag("photo_StanChudnovsky.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
						</div>
						<div class="span2">
							<h4> James Currier </h4>
							<p> Chairman &amp; Cofounder</p>
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. Pellentesque a velit condimentum justo elementum eleifend. </p>
						</div>
						
				</div>
			</div>

			<div class="clearfix top-30">
				<h2> Leadership </h2>
				<div class="clearfix row top-10">
					
						<div class="span2">
							<%=image_tag("photo_DerekNewell.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
						</div>
						<div class="span2">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. Pellentesque a velit condimentum justo elementum eleifend.  </p>
						</div>
				
						<div class="span2">
							<%=image_tag("photo_HimganWibisono.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
						</div>
						<div class="span2">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae eros dolor, sit amet consectetur libero. Pellentesque a velit condimentum justo elementum eleifend. </p>
						</div>
						
				</div>
			</div>

			<div class="clearfix top-30">
				<h2> Board Members </h2>

				<div class="clearfix row top-10">
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
						<br>
						<h4> Darren Hite</h4>
						<p class="top-n5"> Aberdare Venture </p>
					</div>
					<div class="span2">
						<%=image_tag("photo_GeorgeRhem.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
						<h4> George Rhem</h4>
						<p class="top-n5"> Aeris Capital </p>
					</div>
					<div class="span2">
						<%=image_tag("photo_LarryLeisure.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
						<h4> Lary Leisure </h4>
						<p class="top-n5"> KPMG </p>
					</div>
				</div>
			</div>

			<div class="clearfix top-30">
				<h2> Product Development Team </h2>

				<div class="clearfix row top-10">
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_GeorgeRhem.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_LarryLeisure.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>			
				</div>

				<div class="clearfix row top-30">
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_GeorgeRhem.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_LarryLeisure.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>			
				</div>

				<div class="clearfix row top-30">
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_GeorgeRhem.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_LarryLeisure.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>			
				</div>

				<div class="clearfix row top-30">
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_GeorgeRhem.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_LarryLeisure.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>
					<div class="span2">
						<%=image_tag("photo_DarrenHite.png", :alt =>"Jiff Stay Healthy", :class => "text-center")  %>
					</div>			
				</div>
			</div>

		</div>
	</div>
</div>
